{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}PasswordGenerator{% endblock %}

{% block content_title %}PasswordGenerator{% endblock %}

{% block content %}
    <form id='form' class='p-3' method="POST">
        {% csrf_token %}
        <input id='length' type="number" max="30" class="form-control" placeholder="Input a length of password"
        {% if length %} value="{{ length }}" {% endif %} name="length"><br>

        <input type="submit" class="btn btn-success" align="center" value="Generate">
        {% if password %}
            <h3 align="center">{{ password }}</h3>        
            {% if user.is_authenticated %}
            <hr>
            <p>Do you wanst to save password in storage?</p>
                <form id="form" class="p-3" method="POST">
                    {% csrf_token %}
                    <input type="url" id="site" class="form-control" placeholder="Your site" name="site"><br>
                    <input type="submit" class="btn btn-success" value="Save">
                </form>
                </li>
                </ul>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}
