{% extends 'base.html' %}
{% load filter_url %}
{% block title %}Password storage{% endblock %}


{% block content_title %}Your passwords{%endblock %}
{% block content %}
<p align="center"><a href="{% url 'create_storage' %}" class="button" style="background-color: #66CDAA; width: 35%">Create password</a></p><hr>
{% if password_storage_list %}
    {% for passwd in password_storage_list %}
    <hr>
    <h3 align="center">{{ passwd.site|filter }}</h3>
    <p align="center"><a href="{{ passwd.get_absolute_url }}" class="button" style="background-color: #AFEEEE; border-radius: 40px; width: 25%;">More</a></p>
{% endfor %}
{% else %}
    <h1 align="center">You don't have any passwords</h1>
{% endif %}
{% endblock %}
